body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#container{
    height: 200px;
    display: flex;
    align-items: flex-end;
}

.bar{
    width: 10px;
    background: black;
    margin: 2px;
}